<!--A Design by W3layouts
  Author: W3layout
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
  -->
<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Sail-trip a Travel Category Bootstrap Responsive web Template|Service :: w3layouts</title>
  <!--meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Sail-trip Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
      Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <!--//meta tags ends here-->
  <!--booststrap-->
  <link href="/static/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
  <!--//booststrap end-->
  <!-- font-awesome icons -->
  <link href="/static/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- //font-awesome icons -->
  <!--stylesheets-->
  <link href="/static/style.css" rel='stylesheet' type='text/css' media="all">
  <!--//stylesheets-->
  <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>
  <!--headder-->
  <div class="header-outs inner_page-banner " id="home">
    <div class="headder-top">
      <!-- nav -->
      <nav>
        <div id="logo">
          <h1>
            <a href="/">Sail-Trip</a>
          </h1>
        </div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop">
        <ul class="menu mt-2">
          <li class="active">
            <a href="/">Home</a>
          </li>
          {%if admin == 0%}
          {%if rent == 0%}
            <li>
              <a href="/service">Services</a>
            </li>
            {%endif%}
            
            {%if rent == 1%}
            <li>
              <a href="/rent/{{id-1}}">Services</a>
            </li>
            {%endif%}
            {%endif%}
          {%if admin == 1%}
          <li>
            <a href="/statistics">Statistics</a>
          </li>
          {%endif%}
          <li>
            {%if status==0%}
            <a href="/login">Login/Register</a>
            {%endif%}
            {%if status==1%}
            <a href="/info">Info</a>
            {%endif%}
          </li>
        </ul>
      </nav>
      <!-- //nav -->
    </div>
    <!-- short -->
    <div class="using-border">
      <div class="inner_breadcrumb">
        <ul class="short_ls">
          <li>Services</li>
        </ul>
      </div>
    </div>
    <!-- //short-->
  </div>
  <!-- //header -->
  <!-- service -->
  <!--//service -->
  <!-- Booking-here -->
  {%if locked == 0%}
  <section class="booking py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="booking-here text-center">
        <h5>Book it here</h5>
      </div>
    </div>
  </section>
  <!--//Booking-here -->
  <!-- price -->
  <section class="price py-lg-4 py-md-3 py-sm-3 py-3" id="price">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 pricing-grid">
              <div class=" w3ls-bottom">
                <span class="fa fa-free-code-camp mb-lg-5 mb-md-4 mb-3" aria-hidden="true"></span>
                <h4 class="mb-lg-4 mb-md-3 mb-3">Type A</h4>
                <p>Bigger boat which can contains at most <b>15 people</b>, the highest speed of this boat is <b>15 miles per hour</b></p>
                <h4 class="pt-3"> 900
                  <span class="sup-doller">$</span>
                </h4>
                <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
                  {%if status == 0%}
                  <a href="/login" class="btn">Book Here</a>
                  {%endif%}
                  {%if status == 1%}
                  <a href="/detailed/A" class="btn">Book Here</a>
                  {%endif%}
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 pricing-grid">
              <div class=" w3ls-bottom">
                <span class="fa fa-free-code-camp mb-lg-5 mb-md-4 mb-3" aria-hidden="true"></span>
                <h4 class="mb-lg-4 mb-md-3 mb-3">Type B</h4>
                <p>Smaller boat which can contains at most <b>10 people</b>, the highest speed of this boat is <b>30 miles per hour</b></p>
                <h4 class="pt-3">750
                  <span class="sup-doller">$</span>
                </h4>
                <div class="view-buttn mt-md-4 mt-sm-4 mt-3">
                  {%if status == 0%}
                  <a href="/login" class="btn">Book Here</a>
                  {%endif%}
                  {%if status == 1%}
                  <a href="/detailed/B" class="btn">Book Here</a>
                  {%endif%}      <!--跳转到book界面（另开一个），给出对应时间对应类型剩余的船只-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="col-lg-4 main-title-text">
          <h3 class="title">Our Pricing Package</h3>
        </div>-->
      </div>
    </div>
  </section>
  <!-- price -->
  <!-- footer -->
  {%endif%}
  {%if locked == 1%}
  <section class="booking py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="booking-here text-center">
        <p style="font-size:30px;">Sorry, you've made the boat lost, the account has been locked.</p>
        <br>
        <p style="font-size:30px;">Please contact with the administrator to unlock you account.</p>
      </div>
    </div>
  {%endif%}

  <footer class="py-lg-3 py-md-2 py-sm-3 py-2">
    <div class="container py-lg-4 py-md-4 py-sm-3 py-3">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 footer-bottom-txt">
          <h2>
            <a href="/">Sail-Trip</a>
          </h2>
          <p class="pt-lg-4 pt-3">FUN AND ADVENTURE WITH JOYFUL TRIP
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 footer-bottom-txt">
          <div class="footer-icons pt-lg-5 pt-md-4 mt-3">
            <ul>
              <li>
                <a href="#">
                  <span class="fa fa-facebook mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-twitter mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-rss mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-envelope mr-lg-3 mr-2"></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="fa fa-instagram mr-lg-3 mr-2"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- move icon -->
      <div class="text-center">
        <a href="#home" class="move-top text-center mt-3">
          <span class="fa fa-arrow-up" aria-hidden="true"></span>
        </a>
      </div>
      <!--//move icon -->
    </div>
  </footer>
  <!--//footer -->
  <!-- footer-copy-write -->
  <div class="footer-copy-write py-3">
    <div class="container py-2">
      <div class="bottem-txt-footer text-center">
        <p>
          © 2019 Sail-Trip . All Rights Reserved | Design by
          <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
        </p>
      </div>
    </div>
  </div>
  <!--//footer-copy-write -->
</body>
</html>